# CLion / IDE
cmake-build-*/
.idea/
*.iml

# Build
build/
out/
CMakeUserPresets.json
compile_commands.json

# Binaries
*.exe
*.dll
*.lib
*.obj
*.o

# Wyjątek — modele 3D w assets są plikami źródłowymi, nie binariami
!assets/**/*.obj
*.a
*.so
*.dylib

# Debug
*.pdb
*.ilk
*.exp
*.dSYM/

# OS
Desktop.ini

# raylib FetchContent cache
_deps/
